<div class="bg-black container-fluid pt-4">
    <footer class="container">
        <div class="row ">
            <div class="col-12 flex-column col-md-2">
                <div class="d-flex flex-column align-items-center flex-md-row">
                    <a href="/Home/Index">
                        <img src="~/Content/Images/careerian-tiviohjaus-logo-musta.png" class="logo-musta" alt="Cereerian Tivi-ohjaus logo">
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-10">
                <ul class="nav flex-column align-items-center flex-md-row justify-content-md-end">
                    <li class="nav-link"><a class="nav-link text-white" href="/Home/Privacy">Tietosuoja</a></li>
                    <li class="nav-link"><a class="nav-link text-white" href="/Home/Terms">Käyttöehdot</a></li>
                    <li class="nav-link"><a class="nav-link text-white" href="/Home/About">Tietoa palvelusta</a></li>
                    <li class="nav-link"><a class="nav-link text-white" href="/Home/Contact">Yhteystiedot</a></li>
                    <li class="btn">
                        <button class="btn btn-link text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#LoginRuutu">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-box-arrow-in-right me-1" viewBox="0 0 16 16" alignment-baseline="middle" aria-hidden="true">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg>Kirjaudu opettajien näkymään
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-12 pt-3">
                <p class="d-flex align-items-center text-white justify-content-center">&copy; CAREERIA @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>
</div>