
<div class="bg-black container-fluid">
    <footer class="d-flex flex-wrap justify-content-between">
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-4">
                    <img src="~/Content/Images/vaaka-valkoisella-pohjalla.jpg" class="img-fluid footer-logo" alt="...">
                </div>
                <div class="col-lg-8">
                    <ul class="nav list-inline justify-content-md-end">
                        <li class="nav-link"><a class="nav-link text-white" href="#">Tietosuoja</a></li>
                        <li class="nav-link"><a class="nav-link text-white" href="#">Käyttöehdot</a></li>
                        <li class="nav-link"><a class="nav-link text-white" href="/Home/About">Tietoa palvelusta</a></li>
                        <li class="nav-link"><a class="nav-link text-white" href="/Home/Contact">Yhteystiedot</a></li>
                        <li class="nav-link">
                            <a class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#LoginRuutu">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-box-arrow-in-right me-1" viewBox="0 0 16 16" alignment-baseline="middle">
                                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg>Kirjaudu
                            </a>
                        </li>
                    </ul>
                    </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <p class="text-white">&copy; CAREERIA @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>
</div>