<div class="bg-black container-fluid pt-4">
    <footer class="container">
        <div class="row ">
            <div class="col-12 flex-column col-md-2">
                <div class="d-flex flex-column align-items-center flex-md-row">
                    <a href="/Home/Index">
                        <img src="~/Content/Images/careerian-tiviohjaus-logo-musta.png" class="logo-musta" alt="Careerian Tivi-ohjaus logo mustalla pohjalla">
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-10">
                <ul class="nav flex-column align-items-center flex-md-row justify-content-md-end">
                    <li class="nav-link"><a class="nav-link text-white" href="/Home/Tietosuoja">Tietosuoja</a></li>
                    <li class="nav-link"><a class="nav-link text-white" href="/Home/Kayttoehdot">Käyttöehdot</a></li>
                    <li class="nav-link"><a class="nav-link text-white" href="/Home/About">Tietoa palvelusta</a></li>
                    <li class="nav-link"><a class="nav-link text-white" href="/Home/Yhteystiedot">Yhteystiedot</a></li>
                    <li class="btn">
                        @* jos tässä on button linkki "kirjaudu ulos" ei toimi *@
                        <a class="nav-link text-white text-decoration-none" href="/Login/Logout">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class=" bi bi-box-arrow-left me-1" viewBox="0 0 16 16" aria-hidden="true">
                                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                            </svg>Kirjaudu ulos opettajien näkymästä
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 pt-3">
                <p class="d-flex align-items-center text-white justify-content-center">&copy; CAREERIA @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>
</div>