<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand">
            <img src="~/Content/Images/careerian-tiviohjaus-logo.png" alt="Careerian Tivi-ohjaus Logo" aria-label="Careerian Tivi-Ohjaus">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav2">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/Home/Index">Koti</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/About">Tietoa palvelusta</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/Contact">Yhteystiedot</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/OpettajienSivu">Kirjautuneena @Session["KirjautunutOpe"]</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/Login/Logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class=" bi bi-box-arrow-left me-1" viewBox="0 0 16 16" alignment-baseline="middle">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                        </svg>Kirjaudu ulos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>