@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #D7AF4D;
    --primary-color-hover: #DFBE71;
    --black-color: #11100C;
    --white-color: #FFFFFF;
    --light-grey: #e7e7e9;
    --dark-grey: #a4a4a6;
}

*{
    font-family: Roboto, sans-serif;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: var(--black-color);
    border: none;
    padding: .4rem;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus {
    background-color: var(--black-color);
    color: var(--primary-color);
    padding: .4rem;
}

.btn.btn-primary:hover {
    background-color: var(--primary-color-hover);
    color: var(--black-color);

}

.btn.btn-primary:active {
    background-color: var(--black-color);
    color: var(--primary-color);

}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:focus {
    background-color: var(--black-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-outline-primary {
    border: .1rem var(--primary-color) solid;
    color: var(--black-color);
}

.btn-outline-primary:hover {
    border: .1rem var(--primary-color) solid;
    background-color: var(--primary-color);
    color: var(--black-color);
}

.btn-secondary {
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);
}


.bg-hero {
    background-color: var(--light-grey);
    background: url(/Content/Images/woman-sitting.png);
}


.bg-primary {
    background-color: var(--primary-color)!important;
}

.bg-dark {
    background-color: var(--black-color);
}

.bg-white {
    background-color: var(--white-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-dark {
    color: var(--black-color);
}

.text-white {
    color: var(--white-color);
}

.navbar .nav-item .nav-link {
    position: relative;
}

.navbar .nav-item {
    margin-left: 2rem;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .1rem;
    background-color: var(--primary-color);
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before 
{
    transform: scale(1);
}

.logo-musta {
    max-width: initial;
}

.round-img {
    width: 10em;
    height: 10em;
    background-image: url('Images/portrait-example.jpg');
    background-size: cover;
    display: flex;
    align-self: center;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
}




/* Set padding to keep content from hitting the edges 
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }
*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}
*/

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}
*/
