@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #D7AF4D;
    --primary-color-hover: #DFBE71;
    --black-color: #11100C;
    --white-color: #FFFFFF;
    --light-grey: #e7e7e9;
    --dark-grey: #a4a4a6;
}

* {
    font-family: Roboto, sans-serif;
    margin-left: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

a:hover {
    color: var(--black-color);
}

.btn-primary {
    padding-top: .7em!important;
    padding-bottom: .7em!important;
    padding-left: 1em!important;
    padding-right: 1em!important;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: var(--black-color);
    border: none;
    padding: .5em;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus {
    background-color: var(--black-color);
    color: var(--primary-color);
    padding: .5em;
    box-shadow: 1px 1px 8px var(--primary-color);
    border: 1px var(--primary-color) solid;

}

.btn.btn-primary:hover {
    background-color: var(--primary-color-hover);
    color: var(--black-color);

}

/*.btn.btn-primary:active:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}*/

.btn.btn-primary:active {
    background-color: var(--black-color);
    color: var(--primary-color);
}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:focus {
    background-color: var(--black-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    box-shadow: 1px 1px 8px var(--primary-color);
}

.btn.btn-outline-primary {
    border: .1rem var(--primary-color) solid;
    color: var(--black-color);
}

.btn.btn-outline-primary:hover {
    border: .1rem var(--primary-color) solid;
    background-color: var(--primary-color);
    color: var(--black-color);
}

.btn.btn-outline-primary:active:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.btn.btn-outline-primary:active {
    background-color: var(--black-color);
    color: var(--primary-color);
    box-shadow: 1px 1px 8px var(--primary-color);
}

.btn.btn-outline-primary.active.focus,
.btn.btn-outline-primary.active:focus,
.btn.btn-outline-primary.active:hover,
.btn.btn-outline-primary.active.focus,
.btn.btn-outline-primary.active:focus,
.btn.btn-outline-primary.active:focus {
    background-color: var(--black-color);
    color: var(--primary-color);
    box-shadow: 1px 1px 8px var(--primary-color);
}

.input-group .btn:focus {
    box-shadow: 1px 1px 8px var(--primary-color);
}

.btn-secondary {
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);
}


.bg-hero {
    background-color: var(--light-grey);
    background: url(/Content/Images/woman-sitting.png) no-repeat fixed;
    height: 100vh;
    width: auto;
    background-size: cover;
}

.bg-hero-contact {
    background-color: var(--light-grey);
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(/Content/Images/keyboard.jpg);
    background-size: cover;
}

.bg-index-btm {
    background-color: var(--light-grey);
    background: url(/Content/Images/woman-1920x1080.jpg) fixed;
    background-size: cover;
    background-position: left;
    height: 75vh;
    width: auto;
}

.bg-opesivu-btm {
    background-color: var(--light-grey);
    background: url(/Content/Images/work.jpg) no-repeat fixed;
    background-size: cover;
    background-position: bottom;
    height: 75vh;
    width: auto;
    background-position-y: top;
}

.bg-hero-about {
    background-color: var(--light-grey);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/Content/Images/people.jpg) no-repeat fixed;
    background-size: cover;
    background-position: bottom;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-dark {
    background-color: var(--black-color);
}

.bg-white {
    background-color: var(--white-color);
}

.bg-grey {
    background-color: var(--dark-grey);
}

.text-primary {
    color: var(--primary-color)!important;
}

.text-dark {
    color: var(--black-color);
}

.text-white {
    color: var(--white-color);
}

.navbar-nav .nav-item .nav-link {
    position: relative;
}

.navbar-nav .nav-item {
    margin-left: 2em;
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .1em;
    background-color: var(--primary-color);
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar.nav .nav-item .nav-link.active::before,
.navbar-nav .nav-item .nav-link:hover::before 
{
    transform: scale(1);
}

.logo-musta {
    max-width: initial;
}

.round-img {
    width: 8em;
    height: 8em;
    /* kuva kommentoitu, jottei näkyisi renderöidyn kuvan takana*/
   /* background-image: url('Images/portrait-example.jpg');*/
    background-size: cover;
    display: flex;
    align-self: center;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
}

.round-img-ope {
    width: 6em;
    height: 6em;
    background-image: url('Images/portrait-example.jpg');
    background-size: cover;
    display: flex;
    align-self: flex-end;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
}

.round-img-ope-pieni {
    width: 4em;
    height: 4em;
    background-image: url('Images/portrait-example.jpg');
    background-size: cover;
    display: flex;
    align-self: flex-end;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
}

.border-primary {
    border: 1px solid var(--primary-color) !important;
}


.accordion-button {
    color: var(--black-color);
    background-color: var(--primary-color);
}

.accordion-button:not(.collapsed){
    color: var(--black-color);
    background-color: var(--primary-color);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2311100C'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/*Box shadow yms.-jutut kommentoidut for now*/
/*.accordion-button:focus {
    box-shadow: 1px 1px 8px;
    color: var(--primary-color);
}*/

/*.form-select:focus {
    box-shadow: 1px 1px 8px;
    color: var(--primary-color);
}*/

.select-input {
    color: black;
}

.page-link {
  color: var(--black-color);
}

.bg-opesivu {
    background-color: var(--light-grey);
    background: url(/Content/Images/tools.png) no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    height: 100vh;
    margin-right: 0;
    padding-right: 0;
}

.bg-opesivu-btm {
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
}

table {
    width: 100%;
}

td {
    white-space: nowrap;
}

.td-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 0;
}

caption {
    padding-bottom: 0;
}

.page-link:hover {
    color: black;
}


.table > :not(caption) > * > *{
    background:none;
}

@media only screen and (max-width: 576px) {

    .bg-hero {
        background-position-x: right;
    }

    .bg-index-btm {
        background-position-x: right;
    }

    .bg-opesivu {
        background-color: var(--light-grey);
        background: linear-gradient(to bottom, rgba(237, 237, 237, 0.30), rgba(237, 237, 237, 0.30)), url('/Content/Images/tools.png') no-repeat;
        background-size: cover;
        background-position-x: right;
        background-position-y: bottom;
    }

    .bg-opesivu-btm {
        background-color: var(--light-grey);
        background: url(/Content/Images/work.jpg) no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 50vh;
        width: auto;
        background-position-x: left;
    }
}

@media only screen and (max-width: 768px) {

    .bg-hero {
        background-position-x: right;
    }

    .bg-mobile-hero {
        background: linear-gradient(to bottom, rgba(237, 237, 237, 0.85), rgba(237, 237, 237, 0.86));
        padding: 1em;
    }

    .w-small-screen-100 {
        min-width: 100%;
    }

    .bg-index-btm {
        background-position-x: center;
        height: 50vh;
    }

    .bg-opesivu {
        height: 50vh;
    }
}


@media only screen and (min-width:992px) {

    .bg-hero {
        background-position-x: right;
    }

    .bg-index-btm {
        background-position-x: center;
    }

    .bg-opesivu {
        background-size: cover;
        height: 100vh;
    }
}



/*.animation-ease-in {
    animation: ease-in 1s ease-in forwards;
    opacity: 0;
}

.animation-move-down {
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
}*/

/*Box shadow yms.-jutut kommentoidut for now*/
/*input[type="date" i]:focus {
    box-shadow: 1px 1px 8px;
    color: var(--primary-color);
}

input[type="time" i]:focus {
    box-shadow: 1px 1px 8px;
    color: var(--primary-color);
}

input[type="email" i]:focus {
    box-shadow: 1px 1px 8px;
    color: var(--primary-color);
}

input[type="password" i]:focus {
    box-shadow: 1px 1px 8px;
    color: var(--primary-color);
}

input[type="text" i]:focus {
    box-shadow: 1px 1px 8px;
    color: var(--primary-color);
}

select .form-control:focus {
    box-shadow: 1px 1px 8px;
    color: var(--primary-color);
}

.page-link:focus,
.page-link:hover,
.page-link:active{
    box-shadow: 1px 1px 8px var(--primary-color);
}

select:focus {
    border-color: gray;
    outline: none;
    box-shadow: 1px 1px 8px var(--primary-color);
}*/

/*@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ease-in {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}*/

/*@media screen and (prefers-reduced-motion: reduce) {
    .animation-move-down {
        animation: none !important;
    }

    .animation-ease-in {
        animation: none!important;
    }
}*/