@model Ajanvarausprojekti.ViewModels.ajatListaData


<div class="container">

    @*Modal: varaus onnistui*@
    <div class="modal fade" id="OnnistunutModaali" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                @*Modaalin otsikko*@
                <div class="modal-header border-0 d-flex flex-column align-items-center justify-content-center">
                    @*//TempData OnnistunutVaraus tuo viestin VarausControllerilta = Varaus onnistui!*@
                    <h1 class="text-center">@TempData["Successi"]</h1>
                </div>

                @*Modaalin bodyosio jossa animaatio*@
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <iframe src="https://embed.lottiefiles.com/animation/97240"></iframe>
                    <h2 class="mt-2">@TempData["BodyText1"]</h2>
                    <p class="lead">@TempData["BodyText2"]</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

