@{
    ViewBag.Title = "Yhteystiedot";
}

<section class="container-fluid vh-100 bg-hero-contact pb-sm-5 pt-sm-0">
    <div class="container py-md-5">
        <div class="pt-md-5">
            <div class="d-flex flex-column justify-content-start align-items-start text-start">
                <p class="pt-5 text-primary text-uppercase mb-0">Careerian Tivi-ohjaus</p>
                <h1 class="display-3 fw-bold text-black ps-0">Yhteystiedot</h1>
                <p class="lead">Careerian Tivi-ohjaus-palvelun ylläpidosta vastaa tivi-opettaja Simo Siren.</p>
                <address class="">
                    <div class="d-flex">
                        <strong class="lead fw-bolder">Email:</strong><a href="mailto:Simo.Siren@careeria.fi" class="lead ms-1 text-decoration-none text-black">Simo.Siren@careeria.fi</a>
                    </div>
                    <div class="d-flex mt-2">
                        <strong class="lead fw-bolder">Puhelin:</strong><p class="lead ms-1">TÄHÄN NRO</p>
                    </div>
                </address>
            </div>
        </div>
    </div>
</section>