@{
    ViewBag.Title = "Yhteystiedot";
}

<section class="container-fluid vh-50 bg-hero-contact pb-sm-5 pt-sm-0">
    <div class="container py-md-5">
        <div class="col-12 pt-md-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="pt-5 text-primary text-uppercase">Careerian Tivi-ohjaus</p>
                <h1 class="display-3 fw-bold text-white">Yhteystiedot</h1>
                <p class="lead fs-md-5 my-md-3 text-white">Tältä sivulta löydät Careerian Tivi-ohjauksen yhteystiedot.</p>

            </div>
        </div>
    </div>
</section>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>