@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script type="text/javascript">

         //Tämä tässä, jos tulee useampi modaali eikä toimikaan, poistetaan myöhemmin, jos ei tarvita
      //      function launch_modal(id) {
      //          // Hide all modals using class if required.
      //          $('.modal').modal('hide');
      //      $('#'+id).modal('show');
      //}



        $(document).on('load', function () { if
(@ViewBag.LoginError == 1) {
$('#VarausRuutu').modal('show');
}
});


    </script>
}
<button class="btn nav-link text-uppercase" data-bs-toggle="modal" data-bs-target="#VarausRuutu">Varaukset poisto</button>

@Html.Action("VarausPoisto", "Varaus");
