@{
    ViewBag.Title = "Koti";
}

@section scripts {
    <script type="text/javascript">
$(window).on('load', function () { if
(@ViewBag.LoginError == 1) {
$('#LoginRuutu').modal('show');
}
});
    </script>
}

@{ Html.RenderPartial("~/Views/Login/_LoginModal.cshtml"); }


<!-------------------------Hero section---------------------------------->
<section class="container-fluid vh-100 bg-hero pb-md-5 pt-5">
    <div class="container py-md-5">
        <div class="col-md-6 pt-md-5">
            <div class="d-flex flex-column justify-content-evenly">
                <h1 class="display-3 fw-bold pt-5">Careerian Tivi-ohjaus</h1>
                <p class="lead fs-md-5 my-md-3">Varaa ohjausaika tai anna palautetta Careerian tieto- ja viestintätekniikan opettajille.</p>
                <div class="d-md-inline-flex">
                    <a href="#ohjausaika" class="btn btn-primary m2-3">Varaa ohjausaika</a>
                    <div class="my-3"></div><!--Tämä tyhjä div tässä sen takia, että mobiilissa tulisi väli nappuloiden välille-->
                    <a href="#palaute" class="btn btn-primary ms-md-3">Anna palautetta</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!----------------------Ohjausajan varaus-osio--------------------------->
<section class="container mt-5 mb-5 pb-5" id="ohjausaika">
    <h2 class="display-6 fw-bolder">Ohjausajan varaus</h2>
    <p class="lead">Kenelle tivi-opettajalle haluat varata ajan?</p>
    
    <div id="accordion">
        <!--Tähän foreach-->
        <!--Opettajien kuvakortti-->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <div class="col">
                <div class="card bg-black text-white d-flex justify-content-center text-center pt-3">
                    <div class="round-img"></div>
                    <div class="card-body">
                        <h5 class="card-title fw-light">Opettajan nimi</h5>
                        <!--Alla oleva button on vielä kortin sisällä, sillä sitä pitäisi muokata css:llä
                            (asettaa miinusmarginaaleja jotka pitäisi sitten joka näyttökoolle säätää erikseen) mikäli sen
                            haluaisi sijoittuvan kortin alareunan päälle kuten käyttöliittymäsuunnitelmassa. Mahd. aikaa vievä juttu
                            joka ei ole ainakaan vielä tässä vaiheessa oleellista.-->
                        <a class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">Varaa aika</a>
                    </div>
                </div>
            </div>
        </div>
        <!--collapse/ajanvarausalue-->
        <div class="collapse" id="collapseExample1">
            <div class="card card-body border-0">
                <!--Progress bar-->
                <div class="position-relative align-self-center m-5 w-50">
                    <div class="progress" style="height: 1px; background-color: var(--primary-color);">
                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <button type="button" class=" top-0 start-0 p-0 m-0 translate-middle btn btn-sm btn-primary rounded-pill d-flex justify-content-center align-items-center" style="width: 3.4rem; height: 3.4rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="auto" fill="black" class="bi bi-check2 m-0 p-0" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </button>
                    <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-outline-primary bg-white rounded-pill d-flex justify-content-center align-items-center" style="width: 3.4rem; height: 3.4rem;">

                    </button>
                    <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-outline-primary bg-white rounded-pill d-flex justify-content-center align-items-center" style="width: 3.4rem; height: 3.4rem;">

                    </button>
                </div>

                <div>
                    <h2>Valitse varattava aika</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 d-flex justify-content-center align-items-center">
                                <h4 class=" text-center">26.5</h4>
                            </div>
                            <div class="col-md-11">
                                <div>
                                    <button class="btn btn-primary" type="button">
                                        11.00-11.30
                                    </button>
                                </div>
                            </div>
                            <div>
                                <a href="#" class="btn d-grid text-decoration-none btn-outline-primary mt-3" type="submit">Valitse ja jatka</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div><!--id accordion end tag-->
</section>

<!-------------------------------Palautelomakeosio------------------------->
<form class="container-fluid bg-black mt-5" id="palaute">
    <div class="container">
            <h2 class="text-white display-6 fw-bolder pt-5 mx-0 px-0">Anna palautetta opetuksesta</h2>
        <div class="row">
            <div class="col bg-primary py-4 px-5">
                <p>
                    Haluatko antaa palautetta Careerian tieto- ja viestintätekniikan opetukseksesta tai onko sinulla
                    kehitysehdotuksia, miten voisimme parantaa toimintaamme? Voit antaa palautteen anonyymisti. Jos haluat, että
                    sinuun ollaan yhteydessä, kirjoita yhteystietosi palautteen loppuun.
                </p>
            </div>
            <div class="col p-0 ps-md-3">
                <p class="text-white mb-0 mt-2">Tivi-opettaja, jota palaute koskee</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Valitse opettaja...</option>
                    <option value="1">Ope1</option>
                    <option value="2">Ope2</option>
                    <option value="3">Ope3</option>
                </select>
                <p class="text-white mt-4 mb-0">Palautteen aihe</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Valitse aihe...</option>
                    <option value="1">Aihe1</option>
                    <option value="2">Aihe2</option>
                    <option value="3">Aihe3</option>
                </select>
            </div>
            <div class="ms-0 ps-0 pt-4 px-0">
                <label for="exampleFormControlTextarea1" class="form-label text-white">Palautteesi</label>
                <textarea class="form-control mx-0" name="palaute" id="exampleFormControlTextarea1" rows="4" placeholder="Kirjoita palautteesi tähän..."></textarea>
                <div class="d-flex justify-content-end align-self-end align-items-end mt-4 pb-5">
                    <button href="#" class="btn btn-primary ms-md-3" type="submit">Anna palautetta</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container-fluid bg-index-btm">
    
</div>
