@{
    ViewBag.Title = "Koti";
}
@* Kaikki scriptit tähän sectioniin *@


@section scripts {

    <!--Avaa opettajan vapaat ajat collapse-näkymään-->

    <script type="text/javascript">
        $(function () {
            $(".naytaOpettajanAjat").click(function () {
                let opeid = $(this).data("opettaja_id");
            /*alert("Klikkasit opettajaa, jonka id on: " + opeid);*/ /*Toimii*/
            var url = "/Ope/_VapaatAjat/?Opettaja_id=" + opeid;
            $("#opettajanAjat_" + opeid).append("Ladataan aikoja.");
            var $ajatDiv = $("#opettajanAjat_" + opeid)
            $.get(url, function (data) {
                $ajatDiv.replaceWith(data);
                });
            });
        });

    </script>

    @*Onnistunut -modaali (varaus, palaute)*@
    @if (TempData["Successi"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#OnnistunutModaali").modal("show"); {
                    setTimeout(function () { $("#OnnistunutModaali").modal("hide"); }, 3000)
                };
            };
        </script>
    }

    @*Epäonnistunut -modaali (varaus, palaute)*@
    @if (TempData["Errori"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#EiOnnistunutModaali").modal("show"); {
                    setTimeout(function () { $("#EiOnnistunutModaali").modal("hide"); }, 3000)
                };
            };
        </script>
    }


    <script type="text/javascript">

        //Tämä tässä, jos tulee useampi modaali eikä toimikaan, poistetaan myöhemmin, jos ei tarvita
        //      function launch_modal(id) {
        //          // Hide all modals using class if required.
        //          $('.modal').modal('hide');
        //      $('#'+id).modal('show');
        //}


        //tama avaa varauksen poiston modaalin clickauksella
        $(function () {
            $("varausmodal").click(function () {
                $("#VarausRuutu").modal("show");
            });
        });

    </script>
}


<!-- -----------------------Hero section-------------------------------- -->
<section class="container-fluid vh-100 bg-hero pb-md-5 pt-5">
    <div class="container py-md-5">
        <div class="col-md-6 pt-md-5">
            <div class="d-flex flex-column justify-content-evenly">
                <h1 class="display-3 fw-bold pt-5">Careerian Tivi-ohjaus</h1>
                <p class="lead fs-md-5 my-md-3">Varaa ohjausaika tai anna palautetta Careerian tieto- ja viestintätekniikan opettajille.</p>
                <div class="d-md-inline-flex">
                    <a href="#ohjausaika" class="btn btn-primary m2-3">Varaa ohjausaika</a>
                    <div class="my-3"></div><!-- Tämä tyhjä div tässä sen takia, että mobiilissa tulisi väli nappuloiden välille -->
                    <a href="#palaute" class="btn btn-primary ms-md-3 h-100">Anna palautetta</a>
                    <div class="my-3"></div><!-- Tämä tyhjä div tässä sen takia, että mobiilissa tulisi väli nappuloiden välille -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- --------------------Ohjausajan varaus-osio------------------------- -->

@{Html.RenderAction("Opekortit", "Ope");} <!----Nimi on vähän harhaanjohtava, mutta opekortit kattaa koko opettajakortit ja opettajien vapaat ajat. Ulkonäkö vaatii vielä hiomista-->
<!-- -----------------------------Palautelomakeosio----------------------- -->

<div id="palaute">
    @Html.Action("_Create", "Palaute")
</div>


<div class="container-fluid bg-index-btm"></div>

@* Varaajan varauksen poisto toiminto, kutsuu modaali-ikkunan. Button ja modaali kaipaa muotoilua*@
@Html.Action("VarausPoisto", "Varaus")


@*Varaukseen ja palautteenantoon liittyvien modaali-ikkunoiden renderöinti*@


@{ Html.RenderPartial("~/Views/Varaus/_EiOnnistunutModaali.cshtml"); }

@{ Html.RenderPartial("~/Views/Varaus/_OnnistuiModaali.cshtml"); }