
@*Julkaistu 8.6.2022*@
@{
    ViewBag.Title = "Koti";
}
@* Kaikki scriptit tähän sectioniin *@

@section scripts {
    @*Onnistunut -modaali (varaus, palaute)*@
    @if (TempData["Successi"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#OnnistunutModaali").modal("show"); {
                    setTimeout(function () { $("#OnnistunutModaali").modal("hide"); }, 3000)
                };
            };
        </script>
    }

    @*Epäonnistunut -modaali (varaus, palaute)*@
    @if (TempData["Errori"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#EiOnnistunutModaali").modal("show"); {
                    setTimeout(function () { $("#EiOnnistunutModaali").modal("hide"); }, 3000)
                };
            };
        </script>
    }


    <script type="text/javascript">

        //Tämä tässä, jos tulee useampi modaali eikä toimikaan, poistetaan myöhemmin, jos ei tarvita
        //      function launch_modal(id) {
        //          // Hide all modals using class if required.
        //          $('.modal').modal('hide');
        //      $('#'+id).modal('show');
        //}


        //tama avaa varauksen poiston modaalin clickauksella
        $(function () {
            $("varausmodal").click(function () {
                $("#VarausRuutu").modal("show");
            });
        });

    </script>

    <script type="text/javascript">
        //Tämä avaa vapaat ajat modaali-ikkunaan
        $(function () {
            $("vapaatAjatModal").click(function () {
                $("#AjatRuutu").modal("show");
            });
        });
    </script>
}


<!--Hero section-->
<section class="container-fluid vh-100 bg-hero pt-5 pt-lg-3">
    <div class="container py-lg-5">
        <div class="col-lg-6 pt-lg-5">
            <div class="d-flex flex-column justify-content-evenly bg-mobile-hero mt-5 mt-lg-0">
                <h1 class="display-3 fw-bold pt-lg-5">@ViewBag.SivustonNimi</h1>
                <p class="lead fs-md-5 my-md-3">Varaa ohjausaika tai anna palautetta Careerian tieto- ja viestintätekniikan opettajille.</p>
                <div class="d-md-inline-flex">
                    <div class="d-flex">
                        <a href="#ohjausaika" class="btn btn-primary w-100">Varaa ohjausaika</a>
                    </div>
                    <div class="my-3"></div><!--Tämä tyhjä div tässä sen takia, että mobiilissa tulisi väli nappuloiden välille-->
                    <div class="d-flex">
                        <a href="#palaute" class="btn btn-primary ms-md-3 w-100">Anna palautetta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Ohjausajan varaus-osio-->

@{Html.RenderAction("Opekortit", "Ope");} <!--Nimi on vähän harhaanjohtava, mutta opekortit kattaa koko opettajakortit ja opettajien vapaat ajat. Ulkonäkö vaatii vielä hiomista-->

<!--Palautelomakeosio-->
@Html.Action("_Create", "Palaute")

<!--Sivun alaosan kuva-->
<div class="container-fluid bg-index-btm"></div>

@* Varaajan varauksen poisto toiminto, kutsuu modaali-ikkunan. Button ja modaali kaipaa muotoilua*@
@Html.Action("VarausPoisto", "Varaus")


@*Varaukseen ja palautteenantoon liittyvien modaali-ikkunoiden renderöinti*@


@{ Html.RenderPartial("~/Views/Varaus/_EiOnnistunutModaali.cshtml"); }

@{ Html.RenderPartial("~/Views/Varaus/_OnnistuiModaali.cshtml"); }