
@{
    ViewBag.Title = "Käyttöehdot";
}

<section class="container mt-5 mb-5">
    <h1>Käyttöehdot</h1>
    <p class="fw-bold">
        Palvelun käyttöehdot on laadittu niin, että ne soveltuvat @ViewBag.SivustonNimi -palvelun käyttöehdoiksi.
        Käyttämällä @ViewBag.SivustonNimi -palvelua hyväksyt nämä Käyttöehdot ja sitoudut noudattamaan niitä. Luethan alla tarkemmin kuvatut
        käyttöehdot huolellisesti ennen palvelun käyttöä.
    </p>

    <h2>Palvelun sisältö ja käyttöehdot</h2>
    <p>@ViewBag.SivustonNimi on Careerian tieto- ja viestintätekniikan opettajien (jäljempänä "Palvelun tarjoaja") ylläpitämä palvelu, jota käytetään
        internet-selaimella ajanvaraus- ja oppilaspalautteen lähetystilanteissa. Palvelu on tarkoitettu henkilöasiakkaiden käyttöön.
    </p>
    <p>Näitä käyttöehtoja sovelletaan yllä kuvatun palvelun (jäljempänä "Palvelu") käyttöön. Käyttöehdoissa säädellään Palvelun tarjoajan ja palvelun
    käyttäjien (jäljempänä myös ”Käyttäjä”) välistä suhdetta. Oikeudet Palveluun omistaa Palvelun tarjoaja ja Käyttäjälle myönnetään näiden
    käyttöehtojen mukainen käyttöoikeus Palveluun. </p>
    <p>Palvelua käyttämällä Käyttäjä hyväksyy nämä ehdot sekä sitoutuu noudattamaan niitä. Mikäli Käyttäjä ei hyväksy näitä ehtoja, hän ei
    voi käyttää Palvelua. Edelleen Käyttäjän tulee noudattaa Palvelua käyttäessään Suomen lakia, muita soveltuvia säännöksiä ja hyvää
    tapaa.</p>

    <h2>Tietosuoja</h2>
    <p>Palvelun tarjoaja noudattaa henkilötietojen käsittelyssä Suomen lakia. Tarkemmat tiedot henkilötietojen käsittelystä löytyvät Careerian
    tietosuojaselosteesta, joka Palveluun rekisteröityvän Käyttäjän tulee lukea ja hyväksyä rasti ruutuun menetelmällä aikaa varatessaan.</p>
    
    <h2>Vastuu palvelun käytöstä</h2>
    <p>Palvelua ei saa käyttää kaupallisissa tarkoituksissa.</p>
    
    <h2>Käyttöehtojen muuttaminen</h2>
    <p>Palvelun tarjoajalla on oikeus yksipuolisesti muuttaa näitä käyttöehtoja milloin tahansa. Käyttöehtojen muutoksista tiedotetaan
    erikseen sopivaksi katsottavalla tavalla. Palvelun käyttäjä hyväksyy muuttuneet käyttöehdot käyttämällä Palvelua sen jälkeen, kun
    häntä on informoitu muuttuneista käyttöehdoista. </p>
    
    <h2>Palvelun ylläpito ja päivitykset</h2>
    <p>Palvelun tarjoaja pyrkii kehittämään Palvelua jatkuvasti ja tämän vuoksi Palveluun voidaan tehdä muutoksia. Palvelun käyttäjä ymmärtää ja hyväksyy, että Palvelun kehittäminen, muuttaminen ja lopettaminen osittain tai
    kokonaan ovat Palvelun tarjoajan yksinomaisessa päätäntävallassa.</p>
    
    <h2>Palvelun käyttökatkokset</h2>
    <p>Palvelun tarjoaja ei vastaa vahingoista, jotka johtuvat teknisten vikojen, huoltotöiden, päivitysten, tietoliikenneverkon,
    Internet-verkon katkosten tai muiden mahdollisten seikkojen aiheuttamista Palvelun toimintakatkoksista.</p>
    
    <h2>Sovellettava laki ja riidanratkaisu</h2>
    <p>Näihin ehtoihin sovelletaan Suomen lakia. Ehdoista aiheutuvat erimielisyydet pyritään ensisijaisesti ratkaisemaan neuvotteluteitse.
    Mikäli sovintoon ei päästä neuvotteluin, riita ratkaistaan Helsingin käräjäoikeudessa. </p>
</section>

