
@{
    ViewBag.Title = "Privacy";
}

<section class="container mt-5 mb-5">
    <h1>Tietosuojaseloste</h1>
    <p class="fw-bold">
        Tietosuojalla tarkoitetaan yleisesti henkilötietojen suojaamista, kuten esimerkiksi tietojen oikeanlaista
        käsittelyä ja tietojen suojaamista luvatonta käsittelyä vastaan. Henkilötietojen käsittelylle tulee aina olla
        oikeanlainen peruste. Henkilötietoja ovat kaikki sellaiset tiedot, joiden avulla henkilö voidaan tunnistaa joko
        suorasti tai epäsuorasti. Jokaisella on oikeus omien henkilötietojensa suojaan. Tietosuojan tarkoituksena on osoittaa,
        missä tilanteessa ja millä laajuudella henkilötietoja voidaan käsitellä.
    </p>

    <p class="fw-bold">Tässä tietosuojailmoituksessa tarkoitettuja käyttäjiä ovat: </p>
    <ul>
        <li class="fw-bold">Opettajat</li>
        <li class="fw-bold">Varaajat</li>
    </ul>

    <h2>Tietosuojapolitiikka</h2>
    <p>
        Ajanvaraus-/Palautesivustolla noudatetaan Careerian tietosuojapolitiikan kaikessa henkilötietojen käsittelyyn
        liittyvässä toiminnassa.
        <a href="https://careeria.fi/wp-content/uploads/2021/12/tietosuojapolitiikka.pdf" class="text-decoration-none text-primary">Tutustu Careerian tietosuojapolitiikkaan</a>.
    </p>

    <h2>Rekisterinpitäjä</h2>
    <p>Careeria Oy, Perämiehentie 6, 06100 Porvoo</p>
    <ul>
        <li>Rekisterinpitäjän yhteyshenkilö: Rehtori, toimitusjohtaja Pasi Kankare</li>
        <li>Henkilörekisterin vastuuhenkilö: Apulaisrehtori, Pekka Pulkkinen</li>
        <li>Tietosuojavastaava: Joonatan Saarinko, tietosuoja@careeria.fi</li>
    </ul>
    <p>
        Rekisteröidyn oikeuksiin liittyvistä pyynnöistä, kuten tietojen tarkastuksesta tai virheiden oikaisusta vastaa
        henkilörekisterin vastuuhenkilö. Kaikissa tietosuojaan liittyvissä asioissa voit olla yhteydessä tietosuoja@careeria.fi.
        Tietojen tarkastus tai virheiden oikaisu vaatii aina myös rekisteröidyn tunnistautumisen.
    </p>

    <h2>Miksi käsittelemme henkilötietoja ja mikä on käsittelyn oikeusperuste?</h2>
    <p>Käsittelemme henkilötietoja seuraavien tarkoitusten takia:</p>
    <ul>
        <li>Ajanvarausten hallinnointi</li>
        <li>Palautteiden hallinnointi</li>
    </ul>
    <h2>Oikeutemme käsitellä henkilötietoja rekisterinpitäjä perustuu</h2>
    <ul>
        <li>
            Varaajan osalta: suostumukseen henkilön jättäessä yhteystietonsa ajanvarauksen yhteydessä
            (EU:n tietosuoja-asetus artikla 6.1 a)
        </li>
        <li>
            Opettajien osalta: suostumukseen henkilön rekisteröidyssään Ajanvaraus-/Palautesivustolle
            (EU:n tietosuoja-asetus artikla 6.1 a)
        </li>
    </ul>
    <h2>Mitä henkilötietoja käsittelemme?</h2>
    <p>Opettajat:</p>
    <ul>
        <li>Nimi</li>
        <li>Sukunimi</li>
        <li>Nimike</li>
        <li>Sähköposti</li>
    </ul>
    <p>Varaajat:</p>
    <ul>
        <li>
            Nimi ja/tai sukunimi tai sähköposti (Varaaja voi itse valita mitä hän haluaa itsestään säilyttävän
            ilmoittamalla nimen ja/tai sukunimen tai sähköpostin.)
        </li>
    </ul>
    <h2>Kuinka kauan säilytämme henkilötietoja?</h2>
    <p>
        Varaajan tiedot säilytetään enintään 14vrk varatun ajan jälkeen.
        Opettajien tiedot säilytetään niin kauan kuin opettaja on rekisteröitynä Ajanvaraus-/Palautesivustolle.
    </p>
    <h2>Mistä saamme henkilötietoja?</h2>
    <ul>
        <li>Suoraan asiakkaalta</li>
    </ul>
    <h2>Tietojen siirto EU:n tai ETA:n ulkopuolelle</h2>
    <p>Tietoja ei siirretä EU:n tai Euroopan talousalueen ulkopuolelle.</p>
    <h2>Minne henkilötietoja luovutetaan ja siirretään?</h2>
    <ul>
        <li>
            Henkilötietoja käsittelee opettajien osalta itse asianomainen opettaja sekä tarvittaessa
            Ajanvaraus-/Palautesivuston pääkäyttäjäopettaja poistaessa/lisätessään/muokatessaan opettajien sivustoon
            tallentamat henkilötiedot.
        </li>
        <li>
            Varaajien osalta henkilötietoja käsittelee se opettaja, jolle varaus on tehty sekä
            Ajanvaraus-/Palautesivuston pääkäyttäjäopettajalla.
        </li>
        <li>Muuten tietoja ei varsinaisesti siirretä tai luovuteta mihinkään.</li>
    </ul>
    <h2>Miten suojaamme henkilötietoja?</h2>
    <p>
        Rekisterin tietojen käsittelyssä huolehditaan siitä, ettei sidosryhmien yksityisyyttä perusteettomasti vaaranneta.
        Tietojen käsittelyssä noudatetaan tietosuojaan liittyvää lainsäädäntöä sekä Careerian tietoturva- ja tietosuojaohjeita.
        Henkilötiedot ovat vain niiden henkilöiden käytettävissä, jotka tarvitsevat niitä tehtäviensä hoitamiseksi.
    </p>
    <p>Sähköisesti käsiteltävät tiedot</p>
    <ul>
        <li>
            Tietojen käyttöoikeus on vain niillä rekisterinpitäjän palveluksessa olevilla henkilöillä, jotka tarvitsevat tietoja työtehtävissään.
            Tietoja käsittelevät henkilöt ovat salassapito- ja vaitiolovelvollisia. Salassapito- ja vaitiolovelvollisuus jatkuvat myös
            palvelussuhteen päätyttyä.
        </li>
        <li>
            Rekisterin käyttäjät tunnistetaan käyttäjätunnuksen ja salasanan avulla ja tietojärjestelmä on suojattu
            tarvittavin verkko- ja laitteistoteknisin ratkaisuin.
        </li>
    </ul>
    <h2>Rekisteröidyn oikeudet</h2>
    <p>Rekisteröidyn oikeuksia koskevan tietopyynnön voi tehdä opettajalle, jolle varaus on tehty. </p>
    <h2>Tarkastusoikeus</h2>
    <p>
        Rekisteröidyllä on oikeus saada tietää, mitä häntä koskevia tietoja rekisteriin on talletettu. Rekisteröidyllä on
        myös oikeus saada tietää, ettei rekisterissä ole häntä koskevia tietoja.
    </p>
    <h2>Virheen oikaisu</h2>
    <p>
        Rekisterissä oleva, käsittelyn tarkoituksen kannalta virheellinen, tarpeeton, puutteellinen tai vanhentunut
        henkilötieto on oikaistava, poistettava tai täydennettävä. Korjaaminen toteutetaan viivytyksettä. Virheen korjaamisesta
        ilmoitetaan sille, jolta virheelliset tiedot on saatu tai jolle tiedot on luovutettu.
    </p>
    <p>
        <strong>
            Oikeus tietojen poistamiseen, käsittelyn rajoittamiseen sekä henkilötietojen käsittelyn ja automaattisten
            yksittäispäätösten vastustamiseen
        </strong>
    </p>
    <p>Rekisteröidyllä on oikeus poistaa suostumukseen perustuvat henkilötiedot.</p>
</section>