@model Ajanvarausprojekti.Models.Palautteet

<div class="container">

    @*Modal: palaute epäonnistui*@
    <div class="modal fade" id="PalauteEiOnnistunut" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginRuutuLabel">TÄHÄN LOGO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                @*Modaalin otsikko*@
                <div class="modal-header">
                    @*//TempData Error tuo viestin PalauteControllerilta = Hups! Jokin meni nyt pieleen!*@
                    <h1>@TempData["Error"]</h1>
                </div>

                @*Modaalin bodyosion kuva*@
                <div class="modal-body">
                    <div>Kuva</div>
                    <div>
                        <p>Palautteen lähetys epäonnistui.</p>
                        <p>Ole hyvä ja yritä hetken päästä uudelleen.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>