@model IEnumerable<Ajanvarausprojekti.ViewModels.palauteListaData>

@{
    ViewBag.Title = "Palautelistaus";
}

<section class="container-fluid bg-black pt-lg-3 pb-5 ">
    <div class="container pt-5">
        <div class="col-12 table-responsive-md">
            <div class="d-flex justify-content-start w-100">
                <h2 class="text-white" id="TarkastelePalaute">Uusimmat palautteet</h2>

                <div id="lueLisaa" class="text-info"></div>

            </div>
            <p class="lead text-grey mb-4">Mikäli oppilas on kirjoittanut palautteen loppuun yhteystietonsa, hän toivoo että häneen ollaan yhteydessä.</p>
            <table class="table table-dark table-hover caption table-bordered">
                <caption class="text-white-50">Uusimmat palautteet</caption>
                <thead>
                    <tr>
                        <th scope="col">Palaute</th>
                        <th scope="col">Aihe</th>
                        <th scope="col">Päivämäärä</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Reverse().Take(5))
                    {
                        <tr>
                            <td class="td-truncate">@Html.DisplayFor(modelItem => item.palaute)</td>
                            <td>@Html.DisplayFor(modelItem => item.palautetyyppi)</td>
                            <td>@Convert.ToDateTime(item.palaute_pvm).ToString("d.M.yyyy")</td>
                            <td><button class="getPalauteID btn btn-primary ms-1" data-palauteid="@item.palaute_id">Lue lisää</button></td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--Sivunumerokomponentti-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li>
                        @using (Html.BeginForm("LueKaikki", "Palaute", FormMethod.Get))
                        {
                            <button class="btn btn-primary ms-3">Kaikki Palautteet</button>
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</section>
