@model IEnumerable<Ajanvarausprojekti.ViewModels.palauteListaData>

@{
    ViewBag.Title = "LueKaikki";
}

<h2>Lue Kaikki</h2>

<table class="table">
    <tr>
        <th>
            Palaute
        </th>
        <th>
            Päivämäärä
        </th>
        <th>
            Aihe
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.palaute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.palaute_pvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.palautetyyppi)
            </td>
            <td>
                <button class="btn btn-primary ms-3"> @Html.ActionLink("poista", "_Delete", new { id = item.palaute_id })</button>
            </td>
        </tr>
    }

</table>
<li>
    @using (Html.BeginForm("OpettajienSivu", "Home", FormMethod.Get))
    {
        <button class="btn btn-primary ms-3">Takaisin</button>
    }
</li>
