@model Ajanvarausprojekti.Models.Ajat

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="bg-UusiAika custom-bg-mobile">

                </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex justify-content-center mt-5">
                <div class="form-group">
                    <h2>Lisää uusi aika varattavaksi</h2>
                    <div class="input-group d-flex flex-column justify-content-center">

                        <div class="mb-4">
                            <label for="startDate">Päivämäärä</label>
                            @Html.TextBoxFor(a => a.startDate, new { @class = "form-control", @id = "startDate", @type = "date" })
                        </div>


                        <div class="mb-4">
                            <label for="startDate">Kellonaika</label>
                            @Html.TextBoxFor(a => a.startTime, new { @class = "form-control", @id = "startDate", @type = "time" })
                        </div>

                        <div class="mb-4">
                            <p class="text-black mb-0">Kesto</p>

                            @Html.DropDownListFor(model => model.kesto_id, new List<SelectListItem> {
                            new SelectListItem{Text="Valitse kesto...", Value="30",Selected =true },
                            new SelectListItem{Text="30 min", Value="30"},
                            new SelectListItem{Text="45 min", Value="45"},
                            new SelectListItem{Text="60 min", Value="60"},
                            new SelectListItem{Text="90 min", Value="90"},}, new { @class = "form-select  mb-4" })

                            <button href="#" class="btn btn-outline-primary w-100" type="submit">Tallenna aika</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


@section scripts {
    @*Onnistunut -modaali (varaus, palaute)*@
    @if (TempData["Successi"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#OnnistunutModaali").modal("show"); {
                    setTimeout(function () { $("#OnnistunutModaali").modal("hide"); }, 3000)
                };
            };
        </script>
    }

    @*Epäonnistunut -modaali (varaus, palaute)*@
    @if (TempData["Errori"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#EiOnnistunutModaali").modal("show"); {
                    setTimeout(function () { $("#EiOnnistunutModaali").modal("hide"); }, 3000)
                };
            };
        </script>
    }

}

@*Varaukseen ja palautteenantoon liittyvien modaali-ikkunoiden renderöinti*@


@{ Html.RenderPartial("~/Views/Varaus/_EiOnnistunutModaali.cshtml"); }

@{ Html.RenderPartial("~/Views/Varaus/_OnnistuiModaali.cshtml"); }